In [3]:
#1.1
def even_checker(Number):
  if Number%2 == 0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(17)

Odd!!

In [5]:
#1.2
def is_even(Number):
  if Number%2 == 0:
    return True
  else:
    return False
result = is_even(17)
print( result )

False

In [8]:
#1.3
def  is_pos(Number):
  if Number>=0:
    return True
  else:
    return False
result = is_pos(12)
print( result )

True

In [21]:
#1.4
def sequence(n):
  if is_pos(n) == True:
    for i in range(n+1):
      if is_even(i) == True:
        print(i,end=" ")
  else:
    for i in range(n,0,1):
      if is_even(i) == False:
          print(i,end=" ")
sequence(-8)

-7 -5 -3 -1

In [23]:
#2.1
def is_valid_triangle(N1,N2,N3):
  if N1+N2>N3 and N2+N3>N1 and N1+N3>N2:
    return True
  else:
    return False
result=is_valid_triangle(3,2,1)
print( result )

False

In [29]:
#2.2
import math
def tri_area(S1,S2,S3):
  if is_valid_triangle(S1,S2,S3) == True:
    S= (S1+S2+S3)/2
    Area = math.sqrt(S*(S-S1)*(S-S2*(S-S3)))
    print(Area)
  else:
    print("Canâ€™t form triangle")
tri_area(7,5,10)

16.24807680927192

In [34]:
#3.1
import math
def circle(r):
  Area = math.pi*(r**2)
  return Area
circle(5)

78.53981633974483

In [36]:
#3.2
import math
def sphere(r):
  Area = (4/3)*math.pi*(r**3)
  return Area
sphere(5)

523.5987755982989

In [43]:
#3.3
def fitting(r1,r2,dimension):
  if dimension == 3:
    sphere(r1)
    sphere(r2)
    if sphere(r1) > sphere(r2):
      print(f"Sphere-2 can fit inside Sphere-1 and {sphere(r1/2) - sphere(r2/2)} cubic units would be left.")
    elif sphere(r1) < sphere(r2):
      print(f"Sphere-1 can fit inside Sphere-2 and {sphere(r2/2) - sphere(r1/2)} cubic units would be left.")
    else:
      print("Impossible to fit.")
  else:
    circle(r1)
    circle(r2)
    if circle(r1) > circle(r2):
      print(f"circle-2 can fit inside circle-1 and {circle(r1/2) - circle(r2/2)} square units would be left.")
    elif circle(r1) < circle(r2):
      print(f"circle-1 can fit inside circle-2 and {circle(r2/2) - circle(r1/2)} square units would be left.")
    else:
      print("Impossible to fit.")
fitting(5,5,3)

Impossible to fit.

In [51]:
#5.1
n=int(input())
def one_to_N(p,q):
  if p==q:
    print(p,end=" ")
  else:
    print(p,end=' ')
    one_to_N(p+1,q)
one_to_N(1,n)

5
1 2 3 4 5

In [52]:
#5.2
n=int(input())
def reverse_printing(p,q):
  if p==q:
    print(1,end=" ")
  else:
    print(q,end=' ')
    reverse_printing(p,q-1)
reverse_printing(1,n)

6
6 5 4 3 2 1

In [53]:
#5.3
n=int(input())
def recursive_summation(n1,n2):
  if n1==n2:
    return 1
  else:
    return(n2+recursive_summation(1,n2-1))
recursive_summation(1,n)

4

10

In [13]:
#1.1
#Prime Number: If a number has only two divisors, (1 and itself), then it is a prime number. Else,then it is not a prime number.
def is_prime(n):
  Divisorcount = 0
  i = 1
  while i<=n:
    if n%i == 0:
      Divisorcount+=1
    i+=1
  if Divisorcount == 2:
    return True
  else:
    return False
prime_check = is_prime(15)
print(prime_check)

False

In [17]:
#1.2
#Perfect Number: A number is said to be a perfect number if the sum of its divisors, including 1 but not the number itself is equal to that number
def  is_perfect(n):
  DivisorSum = 0
  i = 1
  while i<n:
    if n%i == 0:
      DivisorSum += i
    i+=1
  if DivisorSum == n:
    return True
  else:
    return False
perfect_check = is_perfect(33)
print(perfect_check)

False

In [28]:
#1.3
def special_sum(n):
  n = int(input())
  Sum = 0
  i = 1
  while i <= n:
    if is_prime(i) == True:
      Sum += i
    elif is_perfect(i) == True:
      Sum+=i
    i +=1
  return Sum
result = special_sum(8)
print(result)

8
23

In [32]:
#2.1
def show_dots(n):
  for i in range(n):
    print(".",end ="")
show_dots(5)

.....

In [36]:
#2.2
def  show_palindrome(n):
  i = 1
  for i in range(1,n+1):
    print(i, end ="")
  for i in range(n-1,0,-1):
    print(i, end = "")
show_palindrome(5)

123454321

In [42]:
#2.3
def show_triangle(n):
  for i in range(1,n+1):
    show_dots(n - i)
    show_palindrome(i)
    show_dots(n - i)
    print()
show_triangle(5)

....1....
...121...
..12321..
.1234321.
123454321

In [45]:
#3.1
def calc_tax(age,salary):
  if age > 18 and salary >= 10000:
    if 20000 >= salary >= 10000:
      return round(salary*.07)
    else:
      return round(salary*.14)
  else:
    return 0
t = calc_tax(20,18000)
print(t)

1260

In [47]:
#3.2
def calc_yearly_tax():
  age = int(input())
  Totaltax = 0
  for i in range(1,13):
    salary = int(input())
    print(f"Month{i} Tax: {calc_tax(age,salary)}")
    Totaltax += calc_tax(age,salary)
  print(f"Total Yearly Tax: {Totaltax}")
calc_yearly_tax()

22
8000
Month1 Tax: 0
15000
Month2 Tax: 1050
22000
Month3 Tax: 3080
2300
Month4 Tax: 0
15300
Month5 Tax: 1071
21000
Month6 Tax: 2940
34000
Month7 Tax: 4760
9000
Month8 Tax: 0
27000
Month9 Tax: 3780
88000
Month10 Tax: 12320
32000
Month11 Tax: 4480
7300
Month12 Tax: 0
Total Yearly Tax: 33481

In [49]:
#5.0
def sequence_iterative(n):
  sum=0
  for i in range(0,n+1):
    if i%2==0:
      sum-=i
    else:
      sum+=i
  return sum
sequence_iterative(5)

3

In [50]:
#5.1
def sequence_recursive(n):
  if n == 1:
    return 1
  else:
    if n%2==0:
      return (-n+sequence_recursive(n-1))
    else:
      return (n+sequence_recursive(n-1))
sequence_recursive(10)

-5